.summaryDiv{
    padding-left: 30px;
}
.link{
    color: black;
}
.containerColPair{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 85vh;
}
.displayArea{
    flex: 5;
    background-color: rgb(211, 211, 211);
}
.displayArea embed{
    height: 100%;
    width: 100%;
}
.displayList{
    height: 100%;
    padding-left:20px ;
    padding-top:20px ;
    min-width: 230px;
    background-color: rgb(236, 236, 236);
}
